<div class="row">
  <h3>Using RxJS Map Operator on [1, 2, 3, 4, 5]</h3>
  <label>{{ usingMap$ | async }}</label>
</div>
<div class="row">
  <h3>Using RxJS MergeMap Operator on [0, 1, 2, 3, 4]</h3>
  <h4>Creates all observables at once without waiting</h4>
  <label>{{ usingMergeMap$ | async }}</label>
</div>
<div class="row">
  <h3>Using RxJS FlatMap Operator on [7, 8, 9, 10]</h3>
  <h4>
    Creates all observables at once without waiting (deprecated). Need to use
    MergeMap instead
  </h4>
  <label>{{ usingFlatMap$ | async }}</label>
</div>
<div class="row">
  <h3>Using RxJS ConcatMap Operator on [20, 21, 22, 23]</h3>
  <h4>
    Waits for each observable to complete before creating the Next observables
  </h4>
  <label>{{ usingConcatMap$ | async }}</label>
</div>
<div class="row">
  <h3>Using RxJS SwitchMap Operator on [71, 72, 73, 74, 75]</h3>
  <h4>Cancels all previous observables</h4>
  <label>{{ usingSwitchMap$ | async }}</label>
</div>
<div class="row">
  <h3>Using RxJS ExhaustMap Operator on [100, 101, 102]</h3>
  <h4>Cancels all upcoming observables</h4>
  <label>{{ usingExhaustMap$ | async }}</label>
</div>
