<span style="float: left">
  <h2>Ng-Concepts</h2>
  <button (click)="onClickTestMethodDecorator()">Test Method Decorator</button>
  <button (click)="onClickTestClassDecorator()">Test Class Decorator</button>
  <div class="row">
    <span>
      <button (click)="increment()">Counter++</button>
    </span>
    <span>
      <button (click)="decrement()">Counter--</button>
    </span>
  </div>
  <div class="row">
    <label>Counter: {{ counter }}</label>
  </div>
  <button (click)="onClickTestParamDecorator(1, 2)">
    Test Param Decorator
  </button>
  <app-using-signals></app-using-signals>
  <app-using-rxjs-maps></app-using-rxjs-maps>
</span>
<div class="vl-1"></div>
<span class="rxjs-operators">
  <app-using-rxjs-operators></app-using-rxjs-operators>
</span>
<div class="vl-2"></div>
<span class="using-templates">
  <app-using-templates></app-using-templates>
</span>

<h1>Decorators</h1>
<div class="row">
  <button id="btnDecorator" type="button" (click)="onClickMethodDecorator('hello')">Method Decorator</button>
</div>